.header {
    position: fixed;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 0 5px 0 #0a0a0a;
}

.header__logo {
    width: 180px;
    padding: 0 2rem;
    float: left;
}

.header__links {
    float: right;
    padding: 2rem;
}

.header__links a {
    padding: 0 1rem;
    color: #ff9933;
}

.header__links a:hover,
.header__links a:focus,
.header__links a:active {
    color: #ff9933;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 46em) {

}