<div class="header">
    <img class="header__logo navbar-brand" onclick="redirect('/quienes-somos')" src="../../assets/images/logo_.png" alt="">
    <nav class="header__links navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#content" aria-controls="content" aria-expanded="false" aria-label="Toggle navigation" data-trigger="manual">
            <img src="../../assets/icons/hamburger.svg" alt="">
        </button>
        <div class="collapse navbar-collapse" id="content">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" onclick="redirect('/quienes-somos');">Quienes Somos</a>
                </li>
                <li class="nav-item disabled">
                    <a class="nav-link">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="redirect('/servicios', '', 'servicios');">Servicios</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        La Empresa
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" onclick="mapUrl('mision')">Misión</a>
                        <a class="dropdown-item" onclick="mapUrl('vision')">Visión</a>
                        <a class="dropdown-item" onclick="mapUrl('valores')">Valores</a>
                        <a class="dropdown-item" onclick="mapUrl('objetivos')">Objetivos</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="redirect('/novedades');">Novedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="redirect('/contacto');">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
</div>