.contacto {
}

.contacto__content {
    padding-top: 150px;
    max-width: 600px;
    margin: auto;
}

.contacto form {
    padding-top: 4rem;
}

.contacto__footer {
    color: #ff9933;
    font-size: 20px;
}

.contacto__footer a:hover {
    text-decoration: none;
    font-size: 22px;
}

@media screen and (max-width: 35.975em) {
    .contacto__content {
        padding-top: 150px;
        padding: 35% 1rem 0 1rem;
    }
}