.servicios {
    background-image: url(../../assets/images/logo.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 400px;
    font-family: Quicksand-Medium;
    height: 100%;
}

.servicios__container {
    padding-top: 150px;
    max-width: 1024px;
    margin: auto;
}

.servicios__cards.container {
    max-width: 100%;
}

.servicios__cards .row {
    padding: .5rem 0;
}

@media screen and (max-width: 35.975em) {
    .servicios {
        background-image: none;
    }

    .servicios__container {
        padding: 35% 1rem 0 1rem;
    }
}