<form id="contact" class="contact">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputEmpresa">Empresa</label>
            <input type="text" class="form-control" id="inputEmpresa" placeholder="Empresa">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
            <label for="inputTelefono">Teléfono</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">+54</div>
                </div>
                <input type="tel" class="form-control" id="inputTelefono" placeholder="Teléfono">
            </div>
        </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputDireccion">Dirección</label>
        <input type="text" class="form-control" id="inputDireccion" placeholder="Dirección">
    </div>
    <div class="form-group col-md-6">
        <label for="inputBarrio">Barrio</label>
        <input type="text" class="form-control" id="inputBarrio" placeholder="Barrio">
    </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputMensaje">Mensaje</label>
            <textarea class="form-control" id="inputMensaje" rows="3" placeholder="Dejanos un mensaje..."></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>