<div id="disclaimer" class="disclaimer">
    <a class="disclaimer__close" onclick="closeDisclaimer()">x</a>
    <script>
        setTimeout(function() {
            $('#disclaimer').addClass('down')
        }, 5000)
    </script>
    <div class="disclaimer__title">
        <h5>Campaña de concientización</h5>
        <h3>Experiencias Saludables en tu Empresa</h3>
    </div>
    <div class="disclaimer__container">
        <div class="disclaimer__image">
            <img src="../../assets/images/disclaimer.jpg" alt="">
        </div>
        <div class="disclaimer__info">
            <p>Sabes cómo potenciar tu equipo de trabajo?</p>
            <a onclick="redirect('/contacto');">Contactanos</a>
        </div>
    </div>
</div>