.text-container {
    height: 100%;
    background-image: url(../../assets/images/orange-lines.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    font-family: Quicksand-Medium;
}

.text-container__wrapper {
    max-width: 600px;
    margin: auto;
    border-radius: 5px;
    padding: 4rem 0;
}